*{
    margin:0;
    padding:0;
}
@font-face{
    font-family: 'myFont1';
    src:url(./fonts/JosefinSans-VariableFont_wght.ttf) format(truetype);
}
@font-face{
    font-family: 'myFont2';
    src:url(./fonts/OpenSans_Condensed-Medium.ttf) format(truetype);
}
@font-face{
    font-family: 'myFont3';
    src:url(./fonts/new-font2.ttf) format(truetype);
}
body{
    font-family:'myFont2';
}
.content>.header{
    display:flex;
    justify-content: center;
    align-items:center;
    padding:1rem 0;
    background:#3C3D37;
}
.content>.header>.img-container>img{
    width:100px;
    height:100px;
}
.content>.header>h2{
    font-family: 'myFont1';
    font-size:2rem;
    margin-left:0.8rem;
    color:whitesmoke;
}
.content>.body{
    display:flex;
    flex-direction:column;
    align-items:center;
    background:#D8D9DA;
    padding-top:0.8rem;
    position:relative;
}
.content>.body>.user-selection{
    font-size:1.2rem;
}
.content>.body>.user-selection form{
    display:flex;
    align-items:center;
    margin-bottom:0.1rem;
}
.content>.body>.user-selection form>label,.body>.user-selection>.set-temp>label{
    margin-right:0.5rem;
}
.content>.body>.user-selection form>input{
    border-radius: 10px;
    font-family:"myFont2";
    height:25px;
    padding-left:0.3rem;
    font-size:1rem;
}
.content>.body>.user-selection form>button,.body>.user-selection>.set-temp>button{
    font-size:1rem;
    font-family: 'myFont2';
    width:50px;
    background:#3C3D37;
    margin:0.5rem;
    border-radius: 5px;
    color:whitesmoke;
}
.content>.body>.user-selection form>button:hover,.body>.user-selection>.set-temp>button:hover{
    background: #686D76;
}
.content>.body>.user-selection>.set-temp{
    text-align:center;
}
.content>.body>.today-info{
    background: whitesmoke;
    width:650px;
    height:350px;
    margin-bottom:1.2rem;
    border-radius:10px;
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
    padding:1rem 0;
}
.body>.today-info>.top-left{
    display:flex;
    flex-direction:column;
    grid-row:1/2;
    grid-column: 1/2;
    width:350px;
    padding-left:2.3rem;
}
.today-info>.top-left>.temp-container>.temp{
    font-size:4rem;
    font-weight:bold;
}
.body>.today-info>.top-left>.location-container{
    display:flex;
    flex-direction:column;
    height:80px;
}
.body>.today-info>.top-left>.location-container>.location,.top-left>.location-container>.date{
    font-size:1.5rem;
    color:#3C3D37;
}
.body>.today-info>.top-right{
    display:flex;
    flex-direction:column;
    height:150px;
    grid-row:1/2;
    grid-column:2/3;
}
.body>.today-info>.top-right>.time-img{
    display:flex;
}
.body>.today-info>.top-right>.time-img>.time{
    font-size:2rem;
    margin:2rem 0 0 1.5rem;
}
.body>.today-info>.top-right .img-container>img{
    width:120px;
    height:120px;
}
.body>.today-info>.top-right>.condition{
    font-size:1.5rem;
    padding-left:1.2rem;
    font-family:'myFont3';
    color:#3C3D37;
}
.content>.body>.today-info>.bottom{
    grid-row:2/3;
    grid-column:1/3;
    display:grid;
    grid-template-columns: repeat(5,1fr);
    gap:0.5rem;
    display:flex;
    align-items:center;
    justify-content:space-around;
}
.content>.body>.today-info>.bottom>div{
    display:flex;
    flex-direction:column;
}
.content>.body>.today-info>.bottom>div>.temp{
    font-size:1.5rem;
    margin-bottom:0.5rem;
}
.content>.body>.today-info>.bottom>div>.time{
    font-size:1.2rem;
    padding-left:0.8rem;
}
.content>.body>.today-info>.bottom>div>.time-indicator{
    font-family:'myFont3';
    padding-left:1rem;
    color:#3C3D37;
}
.content>.body>.today-info>.bottom>div>.img-container>img{
    width:70px;
    height:70px;
    margin-bottom:0.5rem;
}
.content>.body>.weekly-info{
    background:whitesmoke;
    width:650px;
    height:350px;
    border-radius:10px;
    display:flex;
    flex-direction:column;
    padding:1.5rem 1.5rem;
    box-sizing: border-box;
    margin-bottom:2rem;
}
.content>.body>.weekly-info>div{
    display:flex;
    height:117px;
    justify-content: space-between;
    font-size:1.3rem;
}
.content>.body>.weekly-info>div>.date,.body>.weekly-info>div .rain-percent,.body>.weekly-info>div .water-drop>img
,.body>.weekly-info>div>.temp{
    padding-top:0.5rem;
}
.content>.body>.weekly-info>div>.date,.weekly-info>div>.temp,.content>.body>.weekly-info>div>.rain-percent-container
,.content>.body>.weekly-info>div>.img-container{
    width:160px;
    text-align: start;
}
.body>.weekly-info>div>.rain-percent-container{
    display:flex;
    justify-content: center;
}
.content>.body>.weekly-info .rain-percent-container{
    display:flex;
}
.content>.body>.weekly-info>div>.img-container>img{
    width:50px;
    height:50px;
}
.content>.body>#error-dialog{
    padding:2rem;
    font-size:1.5rem;
    background:#D8D9DA;
    position:absolute;
    top:400px;
    left:300px;
    border:1px solid black;
}
.content>.body>#loading-dialog{
    padding:2rem 3rem;
    font-size:1.5rem;
    background:#D8D9DA;
    position:absolute;
    top:30%;
    left:40%;
    border:1px solid black;
}
footer{
    background-color:#3C3D37;
    color:#D8D9DA;
    font-family: 'myFont3';
    text-align: center;
}
footer>span{
    padding-left:1.5rem;
}
@media(max-width:700px){
    .content{
        width:100%;
    }
    .content>.header>.img-container>img{
        width:80px;
        height:80px;
    }
    .content>.header>h2{
        font-size:1.8rem;
    }
    .content>.body>.user-selection{
        font-size:1rem;
    }
    .content>.body>.today-info{
        background: whitesmoke;
        width:300px;
        height:200px;
        display:grid;
        grid-template-rows: 90px 90px;
        gap:1.2rem;
    }
    .body>.today-info>.top-left{
        width:120px;
        padding-left:1rem;
    }
    .today-info>.top-left>.temp-container>.temp{
        font-size:1.8rem;
    }
    .body>.today-info>.top-left>.location-container>.location,.top-left>.location-container>.date{
        font-size:0.6rem;
    }
    .body>.today-info>.top-right>.time-img>.time{
        font-size:1rem;
        margin-left:0.5rem;
    }
    .body>.today-info>.top-right .img-container>img{
        width:60px;
        height:60px;
    }
    .body>.today-info>.top-right>.condition{
        font-size:1rem;
        padding-left:0.8rem;
    }
    .content>.body>.today-info>.bottom>div>.temp{
        font-size:0.8rem;
        margin-bottom:0.2rem;
    }
    .content>.body>.today-info>.bottom>div>.time{
        font-size:0.8rem;
        padding-left:0.4rem;
    }
    .content>.body>.today-info>.bottom>div>.time-indicator{
        padding-left:0.5rem;
        font-size:0.8rem;
    }
    .content>.body>.today-info>.bottom>div>.img-container>img{
        width:40px;
        height:40px;
        margin-bottom:0.2rem;
    }
    .content>.body>.weekly-info{
        width:300px;
        height:250px;
        flex-direction:column;
        padding:1rem 0.3rem;
    }
    .content>.body>.weekly-info>div{
        height:40px;
        font-size:0.8rem;
    }
    .content>.body>.weekly-info>div>.date{
        width:100px;
    }
    .weekly-info>div>.temp,.content>.body>.weekly-info>div>.rain-percent-container
    ,.content>.body>.weekly-info>div>.img-container{
        width:48px;
    }
    .body>.weekly-info>div>.temp{
        width:60px;
    }
    .content>.body>.weekly-info>div>.date,.body>.weekly-info>div .rain-percent,.body>.weekly-info>div>.temp{
        padding-top:0.5rem;
    }
    .body>.weekly-info>div .water-drop>img{
        padding-top:0.6rem;
    }
    .body>.weekly-info>div .water-drop>img{
        width:15px;
        height:15px;
    }
    .content>.body>.weekly-info>div>.img-container>img{
        width:40px;
        height:40px;
    }
    .content>.body>#error-dialog{
        padding:1rem 0.2rem;
        font-size:1rem;
        position:absolute;
        top:30%;
        left:10%;
        width:280px;
    }
    .content>.body>#loading-dialog{
        padding:1rem 2rem;
        font-size:1rem;
        position:absolute;
        top:30%;
        left:35%;
    }
    footer{
        font-size:0.7rem
    }
    footer>span{
        display:block;
    }
}